<h3>Confirm Information</h3>
<ol>
  <li>Name: {{signup.name}}</li>
  <li>Email: {{signup.email}}</li>
  <li>Password: {{signup.password}}</li>
  <li>Subscription Type: {{signup.subscriptionType.name}} - ${{signup.subscriptionType.price}}</li>
</ol>

<p>Do these look correct? </p>
<button class="btn btn-warning" (click)="navSubscription()">Back</button>
<button class="btn btn-primary pull-right" (click)="onSubmit()">Yes, sign me up!s</button>
<button class="btn btn-danger pull-right" (click)="onReset()">No, reset the form!</button>
