<div class="form-group" [formGroup]="passwordForm">
  <label for="password">Enter your password.</label>

  <input
    class="form-control"
    formControlName="password"
    password="password"
    type="password"
  />
  <p

    class="small-text"
    *ngIf="passwordForm.get('password').value === '' && passwordForm.get('password').touched"
  >
    Password is required!
  </p>

</div>

  <button class="btn btn-warning" (click)="navEmail()">Back</button>
  <button class="btn btn-primary pull-right" (click)="navSubscription()" [disabled]="!passwordForm.valid">Forward</button>
